# Dependency folders
node_modules
apps/api/node_modules
apps/web/node_modules

# Build artifacts
dist
apps/web/dist
apps/api/dist

# Hidden OS files
.DS_Store
Thumbs.db

# Databases & logs
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
*.log
npm-debug.log*

# Git
.git
.gitignore

# Env files
.env

# Deployment scripts
deploy.sh
Caddyfile
docker-compose*.yml
Dockerfile
